rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // https://firebase.google.com/docs/storage/security/rules-conditions
    match /sandbox/{name} {
      allow read;
      allow create: if request.auth != null && request.resource.size < 32 * 1024 * 1024;
      allow delete: if request.auth != null;
    }
    match /public/{name} {
      allow read;
      allow create: if request.auth != null && request.resource.size < 32 * 1024 * 1024;
    }
    match /private/{uid}/{name} {
      allow read, write: if request.auth != null
        && request.auth.uid == uid
        && request.resource.size < 32 * 1024 * 1024;
    }
  }
}
