#root {
  position: relative;
  color: #eee;
  font-family: sans-serif;
}
#root > main {
  padding: 60px 75px 0;
}
p {
  margin: 0.5rem 0;
}
section table {
  width: 100%;
}
section table th {
  text-align: left;
}
section svg {
  max-width: 40vh;
  background-color: #111;
  cursor: crosshair;
}
