html {
  width: 100vw;
  height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* https://twitter.com/adamwathan/status/1734696245015494711 */
/* https://defensivecss.dev/tip/flexbox-min-content-size/ */
* {
  min-width: 0;
  min-height: 0;
}
.MuiAlert-icon {
  min-width: auto;
}

p {
  margin: 0 0 0.5rem;
}
pre,
pre p {
  margin: 0;
}
ul,
ol {
  padding-left: 1rem;
}
hr {
  border: none;
  border-top: 1px dashed #333;
}
hr:first-child,
hr:last-child {
  display: none;
}
hr + hr {
  display: none;
}
#root > article {
  max-width: 800px;
  margin: 1rem auto;
}
#root > main {
  margin: 0 100px;
}
.debug {
  opacity: 0.1;
}
.debug:hover {
  opacity: 1;
}
