html,
body,
body > article {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #333;
}
body > article > header {
  background-color: transparent !important;
}
body > article > main {
  position: relative;
  box-sizing: border-box;
  padding: 60px;
  width: 100%;
  min-height: 100%;
}
